* {
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: rgba(238, 238, 238, 0.396);
}
.QuizContainer {
  width: 400px;
  margin: auto;
  display: flex;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.QuizContainer button {
  display: inline-block;
}

.QuizContainer__time {
  text-align: center;
  margin-bottom: 12px;
}

.QuizContainer__time div:nth-child(2) {
  border: 1px solid #eee;
  border-radius: 1em;
  padding: 1em;
  width: 200px;
  font-weight: bold;
  color: #333;
  background: white;
}

.QuizCard {
  background: white;
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.3);
}

.QuizCard__header {
  padding: 1em 2em;
  border-bottom: 1px solid #eee;
}

.QuizCard__time {
  text-align: left;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  font-style: italic;
}

.QuizCard__answers {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.QuizCard__answers li {
  cursor: pointer;
  padding: 1em 2em;
  transition: all 100ms ease-in-out;
}

.QuizCard__answers li:hover {
  background: rgba(0, 0, 0, 0.1);
}

.show-correct {
  color: white;
  background: green !important;
}
.show-incorrect {
  color: white;
  background: red !important;
}
